:root {
  --color-blue-900: #13183f;
  --color-blue-600: #666ca3;
  --color-pink-600: #f74780;
  --color-pink-300: #ffa7c3;
  --color-grey: #83869a;
  --color-white: #fff;
  --gradient-pink: linear-gradient(#f02aa6, #ff6f48);
  --gradient-purple: linear-gradient(#4851ff, #f02aff);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

main {
  overflow-x: clip;
}

body {
  font-family: 'Plus Jakarta Sans', Arial, Helvetica, sans-serif;
  font-weight: 500;
  margin: 0;
}

h1,
h2,
h3 {
  line-height: 1.2;
  font-weight: 800;
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  max-width: 36ch;
  color: var(--color-grey);
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

img.logo:hover {
  opacity: 0.7;
}

.logo {
  width: 4.955625rem;
  transition: opacity .3s ease-in-out;
}

@media (width >=75em) {
  .logo {
    width: 6.9375rem;
  }
}

/* ------------ END OF PROJECT ------------ */