.wrapper {
	padding-inline: 20px;
}

@media (width >=50.625em) {
	.wrapper {
		padding-inline: 44px;
	}
}

@media (width >=75em) {
	.wrapper {
		max-width: 70em;
		padding-inline: 0;
		margin-inline: auto;
	}
}

/* ------------ END OF PROJECT ------------ */