@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	background: #f0f2f5;
	color: #5f5f5f;
}

a {
	text-decoration: none;
	color: #5f5f5f;
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #fff;
	padding: 6px 6%;
	position: sticky;
	top: 0;
	z-index: 100;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.logo img {
	width: 30px;
	display: block;
	margin-right: 15px;
}

.nav-center ul li {
	display: inline-block;
	list-style: none;
}

.nav-center ul li a {
	display: flex;
	align-items: center;
	font-size: 14px;
	margin: 5px 8px;
	padding-right: 5px;
	position: relative;
}

.nav-center ul li a img {
	width: 30px;
}

.nav-center ul li a::after {
	content: "";
	width: 0%;
	height: 2px;
	background: #045be6;
	position: absolute;
	bottom: -15px;
	transition: width .3s ease-in-out;
}

.nav-center ul li a:hover::after,
.nav-center ul li a.active-link::after {
	width: 100%;
}

.nav-pro-img {
	width: 40px;
	border-radius: 50%;
	display: block;
	cursor: pointer;
	position: relative;
}

.online {
	position: relative;
}

.online::after {
	content: "";
	width: 7px;
	height: 7px;
	border: 2px solid #fff;
	border-radius: 50%;
	right: 0;
	top: 0;
	background: #42db51;
	position: absolute;
}

.search-box {
	background: #f0f2f5;
	width: 250px;
	border-radius: 20px;
	display: flex;
	align-items: center;
	padding: 0 15px;
}

.nav-left {
	display: flex;
	align-items: center;
}

.search-box img {
	width: 14px;
}

.search-box input {
	width: 100%;
	background: transparent;
	padding: 8px;
	outline: none;
	border: none;
}

/* ----------- NAV END -------------- */

.container {
	padding: 20px 6%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

/* ----------- Left Sidebar -------------- */

.left-sidebar {
	flex-basis: 25%;
	align-items: flex-start;
}

.sidebar-pro-box {
	background: #fff;
}

.sidebar-pro-info {
	padding: 0 25px;
}

.sidebar-pro-info img {
	width: 90px;
	border-radius: 50%;
	background: #fff;
	padding: 4px;
	margin-top: -45px;
}

.sidebar-pro-info h1 {
	font-size: 20px;
	font-weight: 600;
	color: #222;
}

.sidebar-pro-info h3 {
	font-size: 14px;
	font-weight: 500;
	color: #777;
}

.sidebar-pro-info ul {
	list-style: none;
	margin: 20px 0;
}

.sidebar-pro-info ul li {
	width: 100%;
	margin: 5px 0;
	font-size: 13px;
}

.sidebar-pro-info ul li span {
	float: right;
	color: #045be6;
}

.sidebar-pro-link {
	display: flex;
	align-items: center;
	border-top: 1px solid #ccc;
}

.sidebar-pro-link a {
	flex-basis: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px 0;
	font-size: 13px;
	border-left: 1px solid #ccc;
}

.sidebar-pro-link a:first-child {
	border-left: 0;
}

.sidebar-pro-link a img {
	width: 20px;
	margin-right: 10px;
}

.sidebar-activity {
	background: #fff;
	padding: 5px 25px;
	margin: 12px 0;
}

.sidebar-activity h3 {
	color: #777;
	font-size: 14px;
	font-weight: 500;
	margin: 20px 0 10px;
}

.sidebar-activity a {
	display: flex;
	align-items: center;
	font-size: 12px;
	font-weight: 500;
	color: #888;
	margin: 3px 0;
}

.sidebar-activity a img {
	width: 20px;
	margin-right: 10px;
}

.discover-more {
	border-top: 1px solid #ccc;
	text-align: center;
	margin-top: 20px;
	margin-left: -25px;
	margin-right: -25px;
}

.discover-more a {
	color: #045be6;
	display: inline-block;
	margin: 10px 0;
}

/* ----------- Right Sidebar -------------- */

.right-sidebar {
	flex-basis: 25%;
	align-items: flex-start;
}

.sidebar-news {
	background: #fff;
	padding: 10px 25px;
}

.info-icon {
	width: 15px;
	float: right;
	margin-top: 15px;
}

.sidebar-news h3 {
	font-size: 18px;
	font-weight: 600;
	color: #333;
	margin: 10px 0 30px;
}

.sidebar-news a {
	display: block;
	font-size: 12px;
	font-weight: 600;
	margin-top: 10px;
	margin-bottom: -5px;
}

.sidebar-news span {
	font-size: 12px;
}

.sidebar-news .read-more {
	color: #045be6;
	font-weight: 500;
	margin: 20px 0 10px;
}

/* ----------- Main Content -------------- */

.main-content {
	flex-basis: 47%;
}
