@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}


body {
    background: #000046;
    background: -webkit-linear-gradient(to right, #1CB5E0, #000046);
    background: linear-gradient(to right, #1CB5E0, #000046);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 15px 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    width: 800px;
    height: 600px;
    padding: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
}

.list-header {
    display: flex;
    align-items: left;
    justify-content: center;
}

.blank-div {
    background: #fff;
    border: 2px dashed #666;
    padding: 20px;
    border-radius: 8px;
    height: 200px;
    width: 200px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-note {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    height: 200px;
    width: 200px;
    margin: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s ease;
}

.add-note:hover {
    background: #f1f1f1;
}

.add-note i {
    font-size: 70px;
    color: gainsboro;
}

.list-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
}

li {
    background: #9fc9ff;
    margin: 5px 0;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 200px;
    width: 200px;
    margin: 10px;
    box-shadow: 9px 9px 18px #b3b3b3
                -9px -9px 18px #ffffff;
}

li span {
    font-size: 12px;
    font-weight: 500;
    flex-grow: 1;
    word-wrap: break-word;
    overflow-y: auto;
}

#editBtn, #deleteBtn {
    background: #5a5ad3;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 12px;
    width: 60px;
    transition: .4s ease;
}

#editBtn {
    background: gainsboro;
}

#editBtn:hover {
    background: gray;
}

#deleteBtn:hover {
    background: #000046;
}

#popup-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 300px;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

textarea {
    width: 300px;
    height: 200px;
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px;
    border: 2px solid #000046;
}

#btn-container {
    display: flex;
}

#submitBtn , #closeBtn {
    width: 150px;
    background: #3838bd;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin: 10px;
    transition: .4s ease;
}

#closeBtn {
    background: gainsboro;
}

#closeBtn:hover {
    background: gray;
}

#submitBtn:hover {
    background: #000046;
}

#editing-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 300px;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}